<h1>All Collaborator</h1>
<% @collaborators.each do |collaborators| %>
     <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
          <%= f.check_box :collaborator %> 
         <%= link_to markdown(collaborator) %>
       </h4>
     </div>
   </div>
 <% end %>